html
{
	background-color:black;
}

h1,h2,p,ol,li
{
	color:white;
}

h1,h2
{
	text-align:center;
}

#valid
{
	display:block;
	margin:auto;
}

.imgs
{
	display:block;
	margin:auto;
}

p
{
	padding-left:8%;
	padding-right:8%
}

.top
{
	text-align:center;
	font-size:22px;
	color:white;
}
